.container {
  @apply bg-slate-50 dark:bg-slate-800 py-5 mb-10 shadow;
}
.carousel {
  @apply flex flex-row justify-between;
}
.carouselTitle {
  @apply pl-11 pb-3 text-lg font-bold mb-5 border-b border-b-slate-200 dark:border-b-slate-700 dark:text-slate-50;
}
.items {
  @apply flex flex-row justify-start w-full overflow-scroll snap-x snap-mandatory scroll-smooth gap-2;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.item {
  @apply min-w-[232px] snap-start cursor-pointer;
}
.image {
  @apply mb-2;
}
.title {
  @apply text-sm font-semibold dark:text-slate-200;
}

.leftArrow {
  @apply cursor-pointer px-3 flex flex-1 dark:text-slate-200;
}
.rightArrow {
  @apply cursor-pointer px-3 flex flex-1 dark:text-slate-200;
}

.inactiveArrow {
  @apply opacity-10 cursor-default;
}
